{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}AttentionLettersAbout.js"></script>

{% endblock additionalLinks %}

 
{% block exercise_name %}

{% endblock exercise_name %}  
Буквы     
{% block exercise_rules %}
Правила выполнения упражнения буквы
<!-- <form action="{%url SpeedReading.exercises.views.attention_letters %}" method="get"> 
 -->
<select name="letters"  id="list">
  <option name="letter1" value={{letter1}}>Поиск одной буквы - {{letter1}}</option>
  <option name="letter23" value={{letter2}}{{letter3}}>Поиск двух букв - {{letter2}}{{letter3}}</option>
</select>
<p align="right">
          <button id="getLetters" class="btn btn-primary" >Начать упражнение »</button>
          </p>
     <!-- <input type="submit"/> -->
<!-- </form>  -->
{% endblock exercise_rules %}   

