
	<div class="">
	{% if letters_to_find|length == 1 %}
		<h3>Буква для поиска:
		{% else %}
		<h3>Буквы для поиска:
	{% endif %}

{% for val in letters_to_find %}
		{{val}}  
	{% endfor %}
	</h3></div>


<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Буквы</h3>
  </div>
  <div class="modal-body" style="padding-top:0">
  	<p><h4>Найдено букв:</h4></p>
  	<div id ="resultInf" >
    {% if letters_to_find|length == 1 %}
    	<p>Букв {{letters_to_find.0}} :  {letter1_count} из {letter1_count_orig}</p>
    {% endif %}
    {% if letters_to_find|length == 2 %}
    	<p>Букв {{letters_to_find.0}} :  {letter1_count} из {letter1_count_orig}</p>
    	<p>Букв {{letters_to_find.1}} :  {letter2_count} из {letter2_count_orig}</p>
    {% endif %}
    	<p>Ошибок: {mistake_count}</p>
    	<p>Время выполнения упражнения: <span id="resultTime">{minResult}:{secResult}</span></p>
    </div>
  </div>
<div class="modal-footer">
    <a id="finish_ex" class="btn" href="{%url SpeedReading.exercises.views.home_page %}">Завершить упражнение</a>
    <a id="restart_from_modal"  class="btn btn-primary">Начать заново</a>
  </div>

</div>
	

<table id="letters_table">
	{% for val in letters_array %}

	{% if forloop.first %}
			<tr><td>{{val}}</td>
	{%else%} 
	{% if forloop.last%}
		<td>{{val}}</td></tr>
	{%else%}
	{% if forloop.counter|divisibleby:width%}
	<td>{{val}}</td></tr><tr>
	{% else %}
	<td>{{val}}</td>
		
	{% endif %}
	{% endif %} 
	{% endif %} 
	
	
	
	
	
		
	{% endfor %}
</table>	

<div class="check_table">
 <a id="check_table_b" class="btn btn-danger"><i class="icon-ok" ></i> Проверить</a>
<!-- <a href="#" class="special_href">Начать заново</a> -->

</div>

