{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}AttentionLetters.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}AttentionLettersTable.css" />
{% endblock additionalLinks %}

 
{% block exercise_name %}
Тест Бурдона  
{% endblock exercise_name %}  
   
{% block exercise_rules %}
 Тест Бурдона - метод исследования состояния внимания на данный момент времени. Необходимо в предложенном тексте (в виде случайного набора букв) выделить одну определённую букву или две. Для выделения одной буквы - нажатие левой кнопки мыши, второй - правой кнопки мыши.
<!-- <form action="{%url SpeedReading.exercises.views.attention_letters %}" method="get"> 
 -->
 <p>Выберите букву(-ы) для поиска
<select style="margin-left:2em;" name="letters"  id="list">
  <option name="letter1" value={{letter1}}>Поиск одной буквы - {{letter1}}</option>
  <option name="letter23" value={{letter2}}{{letter3}}>Поиск двух букв - {{letter2}}{{letter3}}</option>
</select>

</p>


<p align="right">
          <button id="get_content" class="btn btn-primary" >Начать упражнение »</button>
          </p>
     <!-- <input type="submit"/> -->
<!-- </form>  -->
{% endblock exercise_rules %}   

