



    <!-- Docs nav
    ================================================== -->
    <div class="row">
      
      
        <div class="span9">
 
        <section id="exercise_zone">
          
          <div class="page-header">
            
            <h1>
              
              Буквы   
              
            </h1>
          </div>
           <div class="page-content">
            Правила выполнения упражнения буквы

<select name="letters"  id="list">
  <option name="letter1" value={{letter1}}>Поиск одной буквы - {{letter1}}</option>
  <option name="letter23" value={{letter2}}{{letter3}}>Поиск двух букв - {{letter2}}{{letter3}}</option>
</select>
<p align="right">
          <button id="get_content" class="btn btn-primary" >Начать упражнение »</button>
          </p>

          </div>
         
        </section>
        
        </div>  </div> 
