{% extends 'base.html' %}

      {% block exercise_items %}
        
      
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix-top">
          <li class="active"><a href="{%url SpeedReading.exercises.views.schulte_table_about %}"><i class="icon-chevron-right"></i> Таблицы Шульте</a></li>
          <li class=""><a href="#file-structure"><i class="icon-chevron-right"></i> Упражнение 2</a></li>
          <li class=""><a href="#contents"><i class="icon-chevron-right"></i> Упражнение 3</a></li>
          <li class=""><a href="#html-template"><i class="icon-chevron-right"></i> Упражнение 4</a></li>
          <li class=""><a href="#examples"><i class="icon-chevron-right"></i> Упражнение 5</a></li>
          <li class=""><a href="#what-next"><i class="icon-chevron-right"></i> Упражнение 6</a></li>
        </ul>
      </div>

      {% endblock exercise_items %}
      
