

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Двойственные образы</h3>
  </div>
  <div id="resultInf" class="modal-body">
  	<p>Время выполнения упражнения: <span id="resultTime"><strong>{minResult}:{secResult}</span></strong></p>
    <p>Количество переключений внимания: <span id="resultSpaceCount"><strong>{spaceCount}</span></strong></p>
    
  </div>
  <div class="modal-footer">
    <a id="finish_ex" href="{%url SpeedReading.exercises.views.home_page %}" class="btn" >Завершить упражнение</a>
    <a id="restart_from_modal"  class="btn btn-primary">Начать заново</a>
  </div>
</div>
	

  <img src={{img_src}} alt="">

 





