{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}DoubleImages.js"></script>
{% endblock additionalLinks %}

 
{% block exercise_name %}
Двойственные образы  
{% endblock exercise_name %}  
    
{% block exercise_rules %}
Цель упражнения -  развитие устойчивости внимания
<p><strong>Правила выполнения упражнения:</strong></p>
 <ul>
              <li>Смотреть на картинку и стараться видеть только один образ</li>
              <li>Когда начинаете видеть другой образ нажимайте пробел</li>
            </ul>           



<p align="right">
          <a id="get_content" class="btn  btn-primary">Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}   

