{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}Ram.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}Ram.css" />
{% endblock additionalLinks %}

 
{% block exercise_name %}
Тренировка памяти 
{% endblock exercise_name %}  
    
{% block exercise_rules %}
<p><strong>Правила выполнения упражнения:</strong></p>
            <ul>
              <li>10 слов  показываются 5 секунд</li>
              <li>Слова водятся через любой разделитель</li>
            </ul>



<p align="right">
          <a id="get_content"  class="btn  btn-primary" >Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}   

