{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}Ram.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}Ram.css" />
{% endblock additionalLinks %}

 
{% block exercise_name %}
Тренеровка памяти 
{% endblock exercise_name %}  
    
{% block exercise_rules %}
<p><strong>Правила выполнения упражнения:</strong></p>
           



<p align="right">
          <a id="get_content"  class="btn  btn-primary" >Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}   

