
<div style="text-align:center" id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Таблица Шульте</h3>
  </div>
  <div class="modal-body">
  	<p>Время выполнения упражнения: <span id="resultTime"><strong>{minResult}:{secResult}</span></strong></p>
    
    
  </div>
  <div class="modal-footer">
    <a id="finish_ex" href="{%url SpeedReading.exercises.views.home_page %}" class="btn" >Завершить упражнение</a>
    <a id="restart_from_modal"  class="btn btn-primary">Начать заново</a>
  </div>
</div>


<div class="container">
 	

 
<table>
	{% for val in table %}

	{% if forloop.first %}
			<tr><td>{{val}}</td>
	{%else%} 
	{% if forloop.last%}
		<td>{{val}}</td></tr>
	{%else%}
	{% if forloop.counter|divisibleby:"5"%}
	<td>{{val}}</td></tr><tr>
	{% else %}
	<td>{{val}}</td>
		
	{% endif %}
	{% endif %} 
	{% endif %} 
	
	
	
	
	
		
	{% endfor %}
</table>	

</div>
 

