{% extends 'base.html' %}

{% block additionalLinks %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}SchulteTable.css" />

<style type="text/css">
	table {
		width: 10cm;
		height: 10cm;
	}
	td{
		font-size: 1.5em;
	}
</style>
{% endblock additionalLinks %}
{% block exercise_zone %}
  

{% block exercise_name %}
  Таблица Шульте
{% endblock exercise_name %}
{% block exercise_rules %}
  <p><strong>Таблицы Шульте</strong> (англ. Shultz tables) — случайно расположенные числа (или другие объекты) для тренировки быстрого их нахождения по порядку. Применяются для исследования и развития психического темпа восприятия, в частности скорости зрительных ориентировочно-поисковых движений (что является основой скорочтения). Также позволяет улучшить периферическое зрение. Широкое поле зрения сокращает время поиска информативных фрагментов текстов.</p>
          <p><strong>Правила работы с таблицами шульте:</strong></p>
           <ol>
              <li>Взгляд фиксируется в центре таблицы. Главное - при взгляде в центр таблицы видеть одновременно с центральной цифрой верхние левую и правую, нижнюю левую и правую цифры</li>
              <li>Поиск всех цифр с 1 по 25</li>
            </ol>

          
          
        
<table>
  <tr>
    <td>7</td>
    <td>18</td>
    <td>8</td>
    <td>11</td>
    <td>22</td>
  </tr>
  <tr>
    <td>16</td>
    <td>25</td>
    <td>13</td>
    <td>2</td>
    <td>9</td>
  </tr>
  <tr>
    <td>6</td>
    <td>10</td>
    <td>1</td>
    <td>20</td>
    <td>5</td>
  </tr>
  <tr>
    <td>15</td>
    <td>24</td>
    <td>17</td>
    <td>14</td>
    <td>19</td>
  </tr>
  <tr>
    <td>3</td>
    <td>12</td>
    <td>21</td>
    <td>23</td>
    <td>4</td>
  </tr>
</table>
<p align="right">
          <a  class="btn  btn-primary" href="{%url SpeedReading.exercises.views.schulte_table %}">Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}
{% endblock exercise_zone %}
