{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}Vertical.js"></script>
<link href="{{STATIC_URL}}Vertical.css" rel="stylesheet">
{% endblock additionalLinks %}

 
{% block exercise_name %}

{% endblock exercise_name %}  
Чтение вертикальным движением глаз 
{% block exercise_rules %}
Правила выполнения упражнения чтения вертикальным движением глаз
Выберите текст
<select id="texts_names">
	{% for name in texts_names %}
		<option>{{name}}</option>
	{% endfor %}

</select>

<p align="right">
          <a id="get_content" class="btn  btn-primary" >Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}   

