
<div id="content_container" class="container">
	<div class="row">
		<div class="span9">
			<section id="exercise_zone">
				 <div class="page-header">
				 	<h1>
              
vertical

            </h1>
            </div>
            <div class="page-content">
Правила выполнения упражнения чтения вертикальным движением глаз
Выберите текст
<select id="texts_names">
	{% for name in texts_names %}
		<option>{{name}}</option>
	{% endfor %}

</select>

<p align="right">
          <a id="get_content" class="btn  btn-primary" >Начать упражнение »</a>
          </p>

</div>
</div>
</div>
</div>
</div>

  

