{% extends 'base.html' %}
{% block additionalLinks %}
<script src="{{STATIC_URL}}Vertical.js"></script>
<link href="{{STATIC_URL}}Vertical.css" rel="stylesheet">
{% endblock additionalLinks %}

 
{% block exercise_name %}
Чтение вертикальным движением глаз
{% endblock exercise_name %}  
 
{% block exercise_rules %}
Цель данного упражнения - формирование навыков чтения вертикальным движением глаз.
Для проверки качества усвоения текста после прочтения необходимо ответить на 10 вопросов.
<p>Выберите текст для чтения
<select id="texts_names">
	{% for name in texts_names %}
		<option>{{name}}</option>
	{% endfor %}

</select>
</p>
<p align="right">
          <a id="get_content" class="btn  btn-primary" >Начать упражнение »</a>
          </p>
{% endblock exercise_rules %}   

